body {
  background-image: url("Bilder/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-position: center;
  	/* background-color: black;
	animation-name: backcol;
	animation-duration: 4s;
	animation-iteration-count: infinite;*/ 
}
h1, h2 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
  text-align: center;
  text-shadow: 0 0 5px black;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 22px;
}
p {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 18px;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;/*animation-name: color;
	animation-direction: reverse;
	animation-duration: 3s;
	animation-iteration-count: infinite;*/
}
ul {
	list-style-type: square;
	list-style-position: inside;
	font-size: 14px;
	color: white;
	text-align: center;
}
.center {
	width: 1800px;
	margin-right: auto;
	margin-left: auto;
}
.picture {
	position: absolute;
	display: block;
	margin-top: 12%;
	margin-bottom: 50px;
	margin-left: 21%;
	margin-right: auto;
	width: 50%;
	height: 25%;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
#bwf {
  filter: grayscale(100%)
}

#bwf:hover {
  filter: grayscale(0%)
}

.picture6 {
	display: block;
	margin-left: 40%;
	width: 200px;
	height: 200px;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
@media only screen and (max-width: 1500px){
	.picture1 {
		position: absolute;
		display: block;
		margin-left: 10%;
		width: 100px;
		height: 150px;
		border: solid;
		border-color: white;
		border-width: 1px;
		border-radius: 1px;
	}
	.picture2 {
		position: absolute;
		display: block;
		margin-left: 25%;
		width: 100px;
		height: 150px;
		border: solid;
		border-color: white;
		border-width: 1px;
		border-radius: 1px;
	}
	.picture3 {
		position: absolute;
		display: block;
		margin-left: 40%;
		width: 100px;
		height: 150px;
		border: solid;
		border-color: white;
		border-width: 1px;
		border-radius: 1px;
	}
	.picture4 {
		position: absolute;
		display: block;
		margin-left: 55%;
		width: 100px;
		height: 150px;
		border: solid;
		border-color: white;
		border-width: 1px;
		border-radius: 1px;
	}
	.picture5 {
		position: absolute;
		display: block;
		margin-left: 70%;
		width: 100px;
		height: 150px;
		border: solid;
		border-color: white;
		border-width: 1px;
		border-radius: 1px;
	}
}
.picture1 {
	position: absolute;
	display: block;
	margin-left: 10%;
	width: 200px;
	height: 300px;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
.picture2 {
	position: absolute;
	display: block;
	margin-left: 25%;
	width: 200px;
	height: 300px;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
.picture3 {
	position: absolute;
	display: block;
	margin-left: 40%;
	width: 200px;
	height: 300px;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
.picture4 {
	position: absolute;
	display: block;
	margin-left: 55%;
	width: 200px;
	height: 300px;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
.picture5 {
	position: absolute;
	display: block;
	margin-left: 70%;
	width: 200px;
	height: 300px;
	border: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 1px;
}
.text {
	padding: 30px;
	margin-left: 30px;
	margin-right: 30px;
	border-style: dotted;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 1px;
}
.text2 {
	padding: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 400px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 1px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #ff0000;} /* Red */
.button2 
{background-color: #ff0000;
align-self: center;
border: solid;
border-color: black;
}
.button2:hover{
background-color: black;
border: solid;
border-color: white;
}

.button3 {
	background: red;
	border: 0;
	color: red;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: whitesmoke;
  color: red;
}

a:link {
  color: #ff0000;
}
a:hover {
  color: #eeeeee;
}
a:visited {
  color: red;
}
.fa-play-circle-o:before {
content: "\f01d";
}
.fa-play:before {
content: "\f04b";
}
.fa-play-circle:before {
content: "\f144";
}